*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
}
body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
footer{
    width: 100%;
    padding:0;
}
#start-footer{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
#new-order-footer{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
.fixed-bottom{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%; 
}

.custom-box{
    //border: 1.5px solid rgb(49, 49, 49);
    background-color: rgb(241, 241, 241);
    border-radius: 0.25rem;
}

.custom-border-lt{
    border-top: 1.5px solid rgb(49, 49, 49);
    border-left: 1.5px solid rgb(49, 49, 49);
}

.box-shadow{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.062);
}


/* PAGES */

/* UTILITY */
.w-100{
    width: 100%;
}
.gradient-line{
    background: linear-gradient(to right, #FFE1FE, #FFE1D0);
    height: 0.3rem;
    width: 100%;
}

/* MENY */
#menu-shortcuts{
    overflow: auto;
    white-space: nowrap;
}